.col-md-4 {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  font-size: 10em;
  display: flex;
  align-self: center;
  justify-content: center;
}

#whichPlayer {
  font-size: 3em;
  height: 100px;
  margin-top: 10px;
}


body {
  background-color: powderblue;
}